<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    {{ bootstrap.load_css()}}
</head>
<body>
<ul>
    <br>
    <h1>You got <i>Cyber Punk!</i></h1>
    <br>
    <h3>History of Cyberpunk Interior Design</h3>
    <p>
        Cyberpunk interior design draws its inspiration from the science fiction genre of the same name, which emerged in the late 20th century. This style is heavily influenced by the dystopian, high-tech, and low-life themes popularized by writers such as William Gibson, with his seminal work "Neuromancer" in 1984, and movies like "Blade Runner" directed by Ridley Scott in 1982. The genre imagines a future where advanced technology and cybernetics coexist with societal decay and urban sprawl.
    </p>
    <p>
        Cyberpunk aesthetics in interior design gained traction in the late 20th and early 21st centuries as digital technology became more integrated into daily life. This style emphasizes a fusion of futuristic elements with an underground, gritty vibe, reflecting the themes of urban decay and technological advancement prevalent in cyberpunk literature and media.
    </p>
    <h3>Cyberpunk Style Interior Design Characteristics</h3>
    Cyberpunk interior design is characterized by several key features:
    <ul>
        <li>Industrial Elements: Exposed metal structures, concrete walls, and unfinished surfaces give a raw and edgy look, reminiscent of urban environments.</li>
        <li>Neon Lighting: Bright, colorful neon lights and LED strips are used to create a futuristic and vibrant atmosphere, often with a focus on blues, purples, and pinks.</li>
        <li>Dark Color Palette: A moody and atmospheric color scheme, typically featuring blacks, grays, and metallics, is offset by the vibrant neon accents.</li>
        <li>Futuristic Furniture: Sleek, modern furniture with clean lines and minimalist designs often incorporates materials like metal, glass, and synthetic fabrics.</li>
        <li>Urban Art and Graffiti: Wall art inspired by street culture and graffiti adds an element of rebellion and counter-culture, echoing the cyberpunk ethos.</li>

    </ul>
    <br>
    <h3>Benefits of Cyberpunk Interior Design</h3>
    Embracing cyberpunk in interior design offers several unique benefits:
    <ul>
        <li>Unique Aesthetic: The striking and unconventional look of cyberpunk interiors makes a bold statement and sets a distinctive tone for any space.</li>
        <li>Technological Integration: With a focus on high-tech elements, cyberpunk design encourages the integration of the latest technology, enhancing convenience and connectivity.</li>
        <li>Creative Expression: The blend of industrial elements, neon lights, and urban art allows for a high degree of creativity and personalization.</li>
        <li>Modern and Futuristic Feel: This style creates a sense of living in the future, which can be both exciting and inspiring for tech enthusiasts and science fiction fans.</li>
        <li>Stimulating Environment: The vibrant colors and dynamic lighting can create an energizing and stimulating atmosphere, ideal for creative workspaces or entertainment areas.</li>
    </ul>
    <br>
    <h3>Some examples of Cyber Punk</h3>
    <img src="/static/images/cyber_1.jpg" width="500"class="img-fluid rounded" />
    <br>
    <br>
    <img src="/static/images/cyber_2.jpg" width="500"class="img-fluid rounded" />
    <br>
    <br>
    <img src="/static/images/cyber_3.jpg" width="500"class="img-fluid rounded" />
</ul>
</body>
</html>