<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    {{ bootstrap.load_css()}}
</head>
<!-- Here, the user is provided with the background history of their given design and different ways their given aesthetic is characterized.
 This has been implemented to make it easier for the user to identify which elements they need to in order to decorate to their aesthetic. - Desiree Torres-->
<body>
    <a href="/">Home</a>
<ul>
    <br>
    <h1>You got <i>Cyber Punk!</i></h1>
    <br>
    <h3>History of Cyberpunk Interior Design</h3>
    <p>
        Cyberpunk interior design is influenced by the same-named science fiction subgenre that first appeared in the late 20th century. A lot of the dystopian, high-tech, and low-life themes made popular by authors like William Gibson with his groundbreaking novel "Neuromancer" in 1984 and films like Ridley Scott's 1982 adaptation of "Blade Runner" have impacted this style. The genre envisions a future in which urban sprawl, societal collapse, and cutting-edge technology and cybernetics coexist.
    </p>
    <p>
        As digital technology became increasingly pervasive in daily life in the late 20th and early 21st centuries, cyberpunk aesthetics in interior design gained popularity. This aesthetic stresses the blending of futuristic features with a gritty, underworld feel, echoing the cyberpunk themes of technological advancement and urban degradation.    </p>
    <h3>Cyberpunk Style Interior Design Characteristics</h3>
    Cyberpunk interior design is characterized by several key features:
    <ul>
        <li><b>Industrial Elements:</b> Exposed metal structures, concrete walls, and unfinished surfaces to give a raw edgy look, resembling urban environments.</li>
        <li><b>Neon Lighting:</b> Bright, colorful neon lights and LED strips used to create a futuristic and vibrant atmosphere, with a focus on blues, purples, and pinks.</li>
        <li><b>Dark Color Palette:</b> A moody color scheme, typically featuring blacks, grays, and metallics, this offsets the vibrant neon accents.</li>
        <li><b>Futuristic Furniture:</b> Modern furniture with clean lines and minimalist designs often incorporates materials like metaland glass.</li>
        <li><b>Urban Art and Graffiti:</b> Wall art inspired by street culture and graffiti adds an element of rebellion echoing the cyberpunk spirit.</li>

    </ul>
    <br>
    <h3>Benefits of Cyberpunk Style Interior Design</h3>
    Embracing cyberpunk in interior design offers several unique benefits:
    <ul>
        <li><b>Unique Aesthetic:</b> The striking and different look of cyberpunk decor makes a bold statement and sets distinct tone for the space.</li>
        <li><b>Technological Integration:</b> Focusing on high-tech elements, the cyberpunk aesthetic encourages the integration of the latest technology as well as enhancing convenience and connectivity.</li>
        <li><b>Creative Expression:</b> The variety of industrial themes, neon lights, and urban art allows for a high degree of creativity and personalization.</li>
        <li><b>Modern and Futuristic Feel:</b> This style creates a sense of living in the future, which can be both exciting and inspiring for tech enthusiasts and science fiction fans.</li>
        <li><b>Stimulating Environment:</b> The vibrant colors and lighting can create an energizing and stimulating atmosphere, this can create an ideal environment for creative workspaces or entertainment areas.</li>
    </ul>
    <br>
    <h3>Examples of Cyber Punk</h3>
    <img src="/static/images/cyber_1.jpg" width="500"class="img-fluid rounded" />
    <br>
    <br>
    <img src="/static/images/cyber_2.jpg" width="500"class="img-fluid rounded" />
    <br>
    <br>
    <img src="/static/images/cyber_3.jpg" width="500"class="img-fluid rounded" />
</ul>
</body>
</html>