<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    {{ bootstrap.load_css()}}
</head>
<!-- Here, the user is provided with the background history of their given design and different ways their given aesthetic is characterized.
 This has been implemented to make it easier for the user to identify which elements they need to in order to decorate to their aesthetic. - Desiree Torres-->
<body>
    <a href="/">Home</a>
<ul>
    <br>
    <h1>You got <i>Grunge!</i></h1>
    <br>
    <h3>History of Grunge Interior Design</h3>
    <p>
        The Seattle, Washington-based grunge music culture had a major influence on the early 1990s emergence of grunge interior design. Grunge is defined by a rebellious, anti-establishment mentality that values rawness and authenticity over polished looks. This style embodies these characteristics. In addition to influencing fashion and interior design, bands like Nirvana and Pearl Jam fostered an aesthetic that celebrated individualism and flaws.    </p>
    <p>
        The 1980s' slick and excessively decorated interiors sparked a counterculture movement that gave rise to the grunge aesthetic in interior design. It highlighted worn-in, cozy details and an antique, distressed aesthetic.    </p>
    <h3>Grunge Style Interior Design Characteristics</h3>
    Grunge interior design is characterized by several key features:
    <ul>
        <li><b>Distressed Materials:</b> Worn and weathered materials, such as reclaimed wood, rusted metal, and aged leather, are essential in the grunge aesthetic.</li>
        <li><b>Layered Textures:</b> Mixing and layering different textures, such as chunky knits, faded fabrics, and rough-hewn surfaces, adds the the ambiance.</li>
        <li><b>Dark Color Palette:</b> Deep, dark colors like charcoal, burgundy, and forest green dominate the grunge palette, often paired with muted tones.</li>
        <li><b>Vintage and Upcycled Items:</b> Second-hand furniture, thrift store finds, and upcycled items contribute to thepersonalized feel of grunge interiors.</li>
        <li><b>Industrial Elements:</b> Exposed brick walls, metal pipes, and concrete floors are common, reflecting an urban and industrial vibe.</li>
        <li><b>Casual and Unpolished:</b> The overall look is unpretentious and laid-back, with an emphasis on comfort and functionality over formality.</li>
    </ul>
    <br>
    <h3>Benefits of Grunge Interior Design</h3>
    Embracing grunge interior design offers several unique benefits:
    <ul>
        <li><b>Individuality and Authenticity:</b> Grunge interiors celebrate personal expression and authenticity, allowing for a highly individualized space.</li>
        <li><b>Sustainable Practices:</b> By incorporating vintage and upcycled items, grunge design promotes sustainability.</li>
        <li><b>Comfort and Coziness:</b> The emphasis on comfortable, lived-in pieces creates a welcoming atmosphere.</li>
        <li><b>Budget-Friendly:</b> Sourcing furniture and decor from thrift stores and second-hand shops can be more affordable than buying new items.</li>
        <li><b>Low Maintenance:</b> The unpolished and distressed nature of grunge design means that wear and tear only adds to the aesthetic, making it easier to maintain.</li>
        <li><b>Creative Freedom:</b> The mix of materials, textures, and styles allows for a high degree of creativity in decorating.</li>
    </ul>
    <br>
    <h3>Examples of Grunge</h3>
    <img src="/static/images/grunge_1.jpg" width="500"class="img-fluid rounded" />
    <br>
    <br>
    <img src="/static/images/grunge_2.jpg" width="500"class="img-fluid rounded" />
    <br>
    <br>
    <img src="/static/images/grunge_3.jpg" width="500"class="img-fluid rounded" />
</ul>
</body>
</html>