<!DOCTYPE html>
<html lang="en">
<head>
<style>
    * {
        box-sizing: border-box;
    }
    
    .img-container {
        float: left;
        width: 33.33%;
        padding: 5px;
    }
    
    .clearfix::after {
        content: "";
        clear: both;
        display: table;
    }
    
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="clearfix">
        <div class="img-container">
        <a href={{url_for('index1',title = "cyber",page=3)}}><img src="static/images/cyber_3.jpg"  width="500" alt="cyber"style="width:100%"></a><br>
        </div>
        <div class="img-container">
        <a href={{url_for('index1',title = "earthy",page=3)}}><img src="static/images/earthy_3.jpg"  width="700" alt="earthy"style="width:80%"></a><br>
        </div>
    </div>
    <div class="clearfix">
        <div class="img-container">
        <a href={{url_for('index1',title = "grunge",page=3)}}><img src="static/images/grunge_3.jpg"  width="500" alt="grunge" style="width:100%"></a><br>
        </div>
        <div class="img-container">
        <a href={{url_for('index1',title = "minimalist",page=3)}}><img src="static/images/minimalist_3.jpg"  width="500" alt="minimalist" style="width:100%"></a><br>
        </div>
        <!-- The images do not have text next to them with the name of the aesthetic because labels can influence their pick.
         For example, if their favorite image is the GRUNGE one and it was labeled as such, they might not click on that one if
         they have bias against that style in music, fashion, etc,...  - Rene
        -->
    </div>

</body>
</html>