<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href={{url_for('index1',title = "cyber",page=2)}}><img src="static/images/cyber_2.jpg"  width="500" alt="cyber"></a><br>
    <a href={{url_for('index1',title = "earthy",page=2)}}><img src="static/images/earthy_2.jpg"  width="500" alt="earthy"></a><br>
    <a href={{url_for('index1',title = "grunge",page=2)}}><img src="static/images/grunge_2.jpg"  width="500" alt="grunge"></a><br>
    <a href={{url_for('index1',title = "minimalist",page=2)}}><img src="static/images/minimalist_2.jpg"  width="500" alt="minimalist"></a><br>
</body>
</html>