<!DOCTYPE html>
<html lang="en">
<head>
<style>
    <!--
    Used this container tool so that images aren't displayed top to bottom. 
    Instead, 2 x 2 so that the user doesn't have to scroll down - Rene 
    -->
    * {
        box-sizing: border-box;
    }
    .img-container {
        float: left;
        width: 33.33%;
        padding: 5px;
    }
    
    .clearfix::after {
        content: "";
        clear: both;
        display: table;
    }
    
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    {{ bootstrap.load_css()}}
</head>
<body>
    <div class = "container">
        <h1> College Dorm Room Decor Quiz</h1>

        <!-- Key words are bolded so that a low attention span user could skip through most of the paragraph but know from a glimpse what the page's purpose is - Rene -->
        <p>Are you starting college this fall and are having a hard time deciding what you want your <b>dorm room</b> to look like? 
            Perhaps you have an idea of what you want, but you don’t know how what it's called.
            This quiz will tell you, or at least guide you, towards the aesthetic that best fits you based off of your answers. <b>CLICK on the coolest room below</b>
            </p>
            <div class="clearfix">
                <div class="img-container">
                <a href={{url_for('index1',title = "cyber",page=1)}}><img src="static/images/cyber_1.jpg"  width="500" alt="cyber"style="width:100%"></a><br>
                </div>
                <div class="img-container">
                <a href={{url_for('index1',title = "earthy",page=1)}}><img src="static/images/earthy_1.jpg"  width="700" alt="earthy"style="width:100%"></a><br>
                </div>
            </div>
            <div class="clearfix">
                <div class="img-container">
                <a href={{url_for('index1',title = "grunge",page=1)}}><img src="static/images/grunge_1.jpg"  width="500" alt="grunge" style="width:100%"></a><br>
                </div>
                <div class="img-container">
                <a href={{url_for('index1',title = "minimalist",page=1)}}><img src="static/images/minimalist_1.jpg"  width="500" alt="minimalist" style="width:100%"></a><br>
                </div>
            </div>

    </div>
</body>
</html>