<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    {{ bootstrap.load_css()}}
</head>
<body>
    <br>
    <ul>
        <h1>College Aesthetic Quiz</h1>
        <p>
            Are you going to college soon and having a hard time deciding what you want your dorm room to look like? <br>Or maybe you have an idea of what you want, but you don’t know how to describe the look you’re going for. <br>With this quiz, we will tell you what aesthetic best fits you based on the answers.
        </p>
    </ul>
</body>
</html>