<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    {{ bootstrap.load_css()}}
</head>
<body>
<ul>
    <br>
    <h1>You got <i>Minimalism!</i></h1>
    <br>
    <h3>History of Minimalist Interior Design</h3>
    <p>
        Minimalist interior design finds its roots in the early 20th century, with pioneers like the German Bauhaus movement and architects like Ludwig Mies van der Rohe.
    </p>
    <p>
        These designers championed clean lines, functional furniture, and the idea that form should follow function. The movement gained momentum in the mid-20th century, with artists like Donald Judd and architects like John Pawson pushing the boundaries of minimalism.
    </p>
    <h3>Minimalist Style Interior Design Characteristics</h3>
    Minimalist interior design is characterized by several key features:
    <ul>
        <li>Simplicity: Clean lines, neutral colors, and a lack of unnecessary decoration define minimalist spaces.        </li>
        <li>Functionality: Furniture and decor serve a purpose, and every item has a designated place.        </li>
        <li>Open Spaces: Minimalist design often incorporates open floor plans and uncluttered surfaces to create a sense of space.</li>
        <li>Natural Materials: Elements like wood, stone, and metal are used to bring warmth and texture to minimalist interiors.</li>
    </ul>
    <br>
    <h3>Benefits of Minimalist Interior Design    </h3>
    Embracing minimalism in interior design offers numerous benefits:
    <ul>
        <li>Reduced Stress: Clutter-free spaces promote mental clarity and relaxation.</li>
        <li>Easy Maintenance: Minimalist interiors are easier to clean and organize.</li>
        <li>Enhanced Focus: A simplified environment can improve concentration and productivity.</li>
        <li>Time and Money Savings: Buying and maintaining fewer items can save both time and money.</li>
    </ul>
    <br>
    <h3>Some examples of minimalism</h3>
    <img src="/static/images/minimalist_1.jpg" width="500"class="img-fluid rounded" />
    <br>
    <br>
    <img src="/static/images/minimalist_2.jpg" width="500"class="img-fluid rounded" />
    <br>
    <br>
    <img src="/static/images/minimalist_3.jpg" width="500"class="img-fluid rounded" />
</ul>
</body>
</html>