<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    {{ bootstrap.load_css()}}
</head>
<body>
    <h1>History of Minimalist Interior Design</h1>
    <p>
        Minimalist interior design finds its roots in the early 20th century, with pioneers like the German Bauhaus movement and architects like Ludwig Mies van der Rohe.<br>
        These designers championed clean lines, functional furniture, and the idea that form should follow function. The movement gained momentum in the mid-20th century, with artists like Donald Judd and architects like John Pawson pushing the boundaries of minimalism.
    </p>
</body>
</html>